<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">

    var stuff;

	  function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
  		var R = 6371; // Radius of the earth in km
  		var dLat = deg2rad(lat2-lat1);  // deg2rad below
  		var dLon = deg2rad(lon2-lon1);
  		var a =
  		Math.sin(dLat/2) * Math.sin(dLat/2) +
  		Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
  		Math.sin(dLon/2) * Math.sin(dLon/2);
  		var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  		var d = R * c; // Distance in km
  		return d;
	  };

	  function deg2rad(deg) {
	  	return deg * (Math.PI/180)
	  };

    function getData(){
    	var jData = $.ajax({
        dataType: "json",
        url: "/get_drinks_json",
        async: false
      });
      var rText = jData.responseText;
      return JSON.parse(rText)['json-data'];
    };

    function processData(deals){
      var googleData = [['Lat', 'Lon', 'Info']]
      for(var i = 0; i < deals.length; i++) {
        var deal = deals[i];
        var info = "";
        info += "bar_name: " + deal[4] + "\n";
        info += "drink_name: " + deal[2] + "\n";
        info += "price: " + deal[1] + "\n";
        info += "category: " + deal[3];
        googleData.push([deal[5], deal[6], info]);
      }
      return googleData;
    };

    function filter(locx,locy,spend,category,distance){
    	/*Turn street address into lat and long*/

    	/*filter list of shit*/
    	shit = [];
    	for (bar in stuff){

    	}
    	console.log(shit);
    };

    function drawMap() {
      var data = google.visualization.arrayToDataTable(processData(stuff));
      var map = new google.visualization.Map($('#map_div')[0]);
      map.draw(data, {showTip: true});
    };

    $(function(){
	    $('form').submit(function(e){
			  filter($('#locx').val(),$('#locy').val(),parseInt($('#spend').val()),parseInt($('#category').val()),parseInt($('#distance').val()));
	    	e.preventDefault();
		  });
		});

    google.load("visualization", "1", {packages:["map"]});
    google.setOnLoadCallback(drawMap);
    var stuff = getData();
    </script>
  </head>

  <body>
  	<form>
		Street1: <input type="text" id="locx" name="locx">
		Street2: <input type="text" id="locy" name="locy">
		Spend: <input type="text" id="spend" name="spend">
		distance: <input type="text" id="distance" name="distance">
		Category: <input type="text" id="cat" name="cat">
		<input id="beer_submit" type="submit" value="submit" />
	</form>
    <div id="map_div" style="width: 75%; height: 75%"></div>
    <div id="list"></div>
  </body>
</html>