<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBotXinXKyP_GwZj1gkosyr96gGAdw6ahQ&sensor=false"></script>
    <script type="text/javascript" src="gmapswrapper.js"></script>
  </head>

  <body>
  	<form>
		Address: <input type="text" id="address" name="address">
		Spend: <input type="text" id="spend" name="spend">
		Distance (KM): <input type="text" id="distance" name="distance">
		Category: <input type="text" id="cat" name="cat">
		<input id="beer_submit" type="submit" value="submit" />
	</form>
    <div id="map_div" style="width: 75%; height: 75%"></div>
    <div id="list"></div>
  </body>
</html>